* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
li,
a,
p {
  font-family: "de vietnam", sans-serif;
}

p {
  color: hsl(227, 12%, 61%);
}

h1 {
  color: hsl(228, 39%, 23%);
}

li {
  color: hsl(228, 39%, 23%);
}

h2 {
  color: hsl(228, 39%, 23%);
}

a {
  text-decoration: none;
  color: white;
  background: hsl(12, 88%, 59%);
  padding: 10px 30px;
  border-radius: 30px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
}

.navigations {
  display: flex;
  width: 40%;
  justify-content: space-around;
  list-style-type: none;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
}

.image {
  max-width: 100%;
  height: auto;
  
}

.nav {
  color:  hsl(227, 12%, 61%);
  cursor: pointer;
}

.nav:hover {
  color: hsl(228, 39%, 23%);
}

header {
  font-size: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  align-items: center;
  margin-top: 50px;
  
}

.description {
  margin-left: 10%;
}

.header-title {
  width: 90%;
  font-size: 4vw;

}

.header-description {
  width: 70%;
  font-size: 1.5vw;
  margin-top: 10px;
  margin-bottom: 40px;
}











@media screen and (max-width: 1024px) {
  .navigations {
    width: 50%;
  }

  .logo {
    margin-top: 10px;
  }
}

@media screen and (max-width: 500px) {
  .burger {
    display: block;
  }

  .startedBtn {
    display: none;
  }

  .navigations {
    display: none;
    position: absolute;
    top: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 40vh;
    background: white;
    width: 95%;
    margin: 0 auto;
    padding: 20px 0px;
    margin-top: 20px;
  }

  .nav {
    color: black;
    font-weight: 700;
  }

  .image {
    margin-top: 30px;
    order: 1;
  }

.description {
  order: 2;
}

  .active {
    display: flex;
  }

  .background {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

 

  .description {
    text-align: center;
   
    margin: 0 auto;
  }

  .header-title {
    font-size: 2.3rem;
    width: 100%;
  }

  .header-description {
    font-size: 1.2rem;
    width: 90%;
    text-align: center;
    margin: 10px auto;
  }
}
